<a href="https://colab.research.google.com/github/Anusarakh/DPDM2021/blob/main/Data_Preprocessing(Chapter3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd # ทำงาน

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/DPDM2021_DATA'
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv'))
data

                    Date  positive  ...  Unnamed: 120  Unnamed: 121
0    Cannot specify date      2963  ...           NaN           NaN
1               1/1/2020         0  ...            31           NaN
2               2/1/2020         0  ...           Pos           Pos
3               3/1/2020         0  ...           NaN           NaN
4               4/1/2020         0  ...           NaN           NaN
..                   ...       ...  ...           ...           ...
567            20/7/2021     68403  ...           NaN           NaN
568            21/7/2021     82325  ...           NaN           NaN
569            22/7/2021     62846  ...           NaN           NaN
570            23/7/2021     58851  ...           NaN           NaN
571            24/7/2021     67283  ...           NaN           NaN

[572 rows x 122 columns]

In [5]:
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) 
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [6]:
data_cases[['risk','age']] # ชี้โดยใช้หัวตารางหรือชื่อแถว

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [7]:
data_cases['risk'][666] # เป็นการชี้ข้อมูลของลิส คนที่ 666

'สนามมวย'

# ชี้ข้อมูลโดยใช้ .iloc [] (แปลงมุมมองให้เป็น matrix)

In [8]:
data_cases.iloc[4,4]  # ชี้ข้อมูลโดยการเลือกแถวและหลัก [แถว,หลัก]  ข้อดีสามารถจัดตารางข้อมูลที่เราต้องการได้

66.0

In [9]:
data_cases.iloc[-50:,[3,6,8]]

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistical of Data

สถิติพื้นฐาน

In [10]:
data_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing Value

* Noll

* NaN = Nor a Number 

* NA = Not a Valiable

หากมีข้อความดังกล่าวคือไม่มีข้อมูลหรือไม่แสดงค่า

In [11]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [12]:
data_cases.isnull() #  .isnull เป็นคำสั่งที่ใช้ดู missing  ค่าที่เป็นนMissing จะแสดง True ส่วนค่าไหนที่แสดง False แสดงว่าค่านั้นไม่ใช่ missing

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [13]:
data_cases.isnull().any()  # .any คือ สรุปในด้าน columns หรือ  or ในแนว columns  ใช้ควบคู่กับ .isnull

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [14]:
data_cases.isnull().any() .any() # สามารถเขียน .any ซ้อน .any ได้

True

# Handling Missing Value 1 (ลบค่าmissing ออก)

In [15]:
data_cases.shape

(512622, 11)

In [16]:
data_cases_M1 = data_cases.dropna()  # คึำสั่ง .dropna คือคำสั่งที่ลบ missing

In [17]:
data_cases_M1.shape  # M1 คือ

(362205, 11)

size before drop = 1000

size after drop = 10

we lost 99% of data

In [18]:
print('size before drop = ',len(data_cases))
print('size before drop = ',len(data_cases_M1))

size before drop =  512622
size before drop =  362205

In [19]:
print('we lost = ',((len(data_cases)-len(data_cases_M1))/len(data_cases))*100,'% of data')

we lost =  29.342673548930794 % of data

In [20]:
((len(data_cases)-len(data_cases_M1))/len(data_cases))*100

29.342673548930794

In [21]:
print(f'size before drop = {len(data_cases)}')
print('size before drop = ',len(data_cases_M1))
print(f'we lost = {((len(data_cases)-len(data_cases_M1))/len(data_cases))*100:.2f}% of data')

size before drop = 512622
size before drop =  362205
we lost = 29.34% of data

# Handling Missing Value 1.5 (ลบค่า missing เฉพาะใน column ที่เราสนใจ)

In [22]:
data_cases_M15 = data_cases.dropna(subset=['Notified date', 'sex','age'])
data_cases_M15.shape

(449552, 11)

HW 11

print ของ missing 1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handing_missing1

In [23]:
print(f'size before drop = {len(data_cases)}')
print(f'size after drop = {len(data_cases_M15)}')
print(f'we lost = {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data')
print(f'now we have  {((len(data_cases_M15)-len(data_cases_M1))/len(data_cases))*100:.2f} % more data than handing_missing1')

size before drop = 512622
size after drop = 449552
we lost = 12.30% of data
now we have  17.04 % more data than handing_missing1

In [24]:
print(f'we lost = {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data') # ค่า % หลัง .doopna M15

we lost = 12.30% of data

In [25]:
print(f'now we have = {(((len(data_cases)-len(data_cases_M15))/len(data_cases))*100)-(((len(data_cases)-len(data_cases_M1))/len(data_cases))*100):.2F} % more data than handing_missing1') # นำ % ที่หาได้จากของ M15 - M1

now we have = -17.04 % more data than handing_missing1

In [26]:
print(f'now we have = {(((len(data_cases)-len(data_cases_M1))/len(data_cases))*100)-(((len(data_cases)-len(data_cases_M15))/len(data_cases))*100):.2F} % more data than handing_missing1') # นำ % ที่หาได้จากของ M1 - M15

now we have = 17.04 % more data than handing_missing1

In [27]:
print(f'now we have  {((len(data_cases_M15)-len(data_cases_M1))/len(data_cases_M15))*100:.2f} % more data than handing_missing1') # นำ data M15 - data M1 /data_M15

now we have  19.43 % more data than handing_missing1

Handling Mising Value 2  แทนค่าที่เหมาะสมหรือสร้าง class ใหม่

In [28]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [29]:
data_cases['age'].mean(skipna=False)  ## ถ้า function

nan

In [30]:
data_cases[['Notified date']] = data_cases[['Notified date']].fillna('99/99/9999')

In [31]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [32]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

ดู column unit

In [33]:
set(data_cases['Unit'])  # คำสั่ง set  หาค่า unique values

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

## [PD] วิธีเลือก  record  โดยกำหนดค่า

In [34]:
data_cases[data_cases['Unit']=='วัน']

           No. announce_date  ... province_of_onset district_of_onset
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
23791    23792     10/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
40962    40963     18/4/2021  ...        นครราชสีมา           เสิงสาง
57747    57748     27/4/2021  ...               NaN               NaN
72457    72458      4/5/2021  ...     กรุงเทพมหานคร            สายไหม
...        ...           ...  ...               ...               ...
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
474582  474583     24/7/2021  ...        ฉะเชิงเทรา           บางปะกง
477365  477366     24/7/2021  ...      สุราษฎร์ธานี            พุนพิน
488901  488902     25/7/2021  ...            ชลบุรี          บางละมุง
504780  504781     26/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์

[64 rows x 11 columns]

In [35]:
data_cases[data_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

 python

  data_frame[list_of_logic]   ## list_of_logic มีขนาดเท่ากับจำนวน record ของ data_frame

In [36]:
data_cases['Unit']=='วัน'  ## list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [37]:
data_cases[data_cases['Unit']=='วัน'].sort_values(by = 'age')

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

Quiz 10 หา records ต่อไปนี้

records ที่ กักตัวที่ขอนแก่น

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [38]:
data_cases[data_cases['province_of_isolation']=='ขอนแก่น']

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
463        464     22/3/2020  ...           ขอนแก่น             เมือง
1467      1468     30/3/2020  ...           ขอนแก่น             เมือง
1971      1972      3/4/2020  ...           ขอนแก่น             เมือง
2638      2639     15/4/2020  ...           ขอนแก่น            น้ำพอง
...        ...           ...  ...               ...               ...
505598  505599     26/7/2021  ...           ขอนแก่น           ภูเวียง
505599  505600     26/7/2021  ...           ขอนแก่น           ภูเวียง
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[3707 rows x 11 columns]

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

In [39]:
data_cases[(data_cases['province_of_isolation']== 'ขอนแก่น')|(data_cases['province_of_isolation']== 'นครราชสีมา')|(data_cases['province_of_isolation']== 'อุดรธานี')] # | 'หรือ' ต้องใส่ () ด้วย data_cases[  (data_cases['...'])  |  (data_cases['...'])  ]

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
189        190     18/3/2020  ...        นครราชสีมา             พิมาย
207        208     18/3/2020  ...     กรุงเทพมหานคร               NaN
212        213     18/3/2020  ...        นครราชสีมา       วังน้ำเขียว
284        285     20/3/2020  ...        นครราชสีมา   เมืองนครราชสีมา
...        ...           ...  ...               ...               ...
507218  507219     26/7/2021  ...               NaN               NaN
507219  507220     26/7/2021  ...               NaN               NaN
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[10539 rows x 11 columns]

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

In [40]:
data_cases[(data_cases['province_of_onset']=='กรุงเทพมหานคร') & (data_cases['sex']== 'หญิง')]

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
511560  511561     26/7/2021  ...     กรุงเทพมหานคร            ธนบุรี
511562  511563     26/7/2021  ...     กรุงเทพมหานคร         คลองสามวา
511566  511567     26/7/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
511574  511575     26/7/2021  ...     กรุงเทพมหานคร         ลาดกระบัง
511577  511578     26/7/2021  ...     กรุงเทพมหานคร            บางบอน

[58896 rows x 11 columns]

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [41]:
data_cases[(data_cases['sex']=='ชาย') & (data_cases['province_of_isolation']== 'เชียงใหม่')]

           No. announce_date  ... province_of_onset district_of_onset
16          17     31/1/2020  ...         เชียงใหม่             หางดง
91          92     15/3/2020  ...         เชียงใหม่            แม่ริม
185        186     18/3/2020  ...         เชียงใหม่          นครพิงค์
192        193     18/3/2020  ...         เชียงใหม่               NaN
252        253     19/3/2020  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
497330  497331     26/7/2021  ...         เชียงใหม่               NaN
497340  497341     26/7/2021  ...         เชียงใหม่    เมืองเชียงใหม่
497341  497342     26/7/2021  ...         เชียงใหม่          สันกำแพง
497342  497343     26/7/2021  ...         เชียงใหม่               NaN
497344  497345     26/7/2021  ...         เชียงใหม่            แม่ริม

[2388 rows x 11 columns]

In [42]:
 data_cases[(data_cases['sex']=='ชาย') & (data_cases['province_of_isolation']== 'เชียงใหม่') &
            (data_cases['age']>=18) &
           (data_cases['age']<=22)]

           No. announce_date  ... province_of_onset district_of_onset
1407      1408     30/3/2020  ...         เชียงใหม่             เมือง
30340    30341      9/4/2021  ...         เชียงใหม่    เมืองเชียงใหม่
31499    31500     10/4/2021  ...         เชียงใหม่               NaN
31500    31501     10/4/2021  ...         เชียงใหม่               NaN
31501    31502     10/4/2021  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
481940  481941     25/7/2021  ...         เชียงใหม่             หางดง
481953  481954     25/7/2021  ...         เชียงใหม่             หางดง
481961  481962     25/7/2021  ...         เชียงใหม่          เชียงดาว
497281  497282     26/7/2021  ...         เชียงใหม่          เชียงดาว
497302  497303     26/7/2021  ...         เชียงใหม่             หางดง

[411 rows x 11 columns]

In [43]:
set(data_cases['Unit'])

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

In [44]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [45]:

import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [47]:
plt.hist(data_cases['Unit'].dropna());

NameError: ignored

In [48]:
data_cases[['Unit']]=data_cases[['Unit']].fillna(' ปี ')

In [49]:
data_cases[['nationality']] = data_cases[['nationality']].fillna('ไทย?')

In [50]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

Handling Mising Value 3 แทนค่าด้วยค่ากลาง   mean mod medaen

In [51]:
data_cases[['age']] = data_cases[['age']].fillna(data_cases['age'].mean())  ## การแทน missing ด้วย mean

In [52]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [53]:
data_cases[['sex']].dropna().mode().iloc[0,0]

'ชาย'

In [54]:

data_cases[['sex']] = data_cases[['sex']].fillna(data_cases[['sex']].dropna().mode().iloc[0,0])
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [55]:
data_cases[['risk']].dropna().mode().iloc[0,0]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [56]:
data_cases[['risk']] = data_cases[['risk']].fillna(data_cases[['risk']].dropna().mode().iloc[0,0])
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

การจัดการข้อมูลที่ซ้ำกัน ใน province_of_isolation

In [57]:
data_cases.groupby(['province_of_isolation']).agg(['count'])

                          No. announce_date  ... province_of_onset district_of_onset
                        count         count  ...             count             count
province_of_isolation                        ...
กระบี่                   1005          1005  ...               860               738
กรุงเทพมหานคร          161884        161884  ...            127665            109118
กาญจนบุรี                2756          2756  ...              2271              2190
กาฬสินธุ์                2047          2047  ...              1936              1903
กำแพงเพชร                1800          1800  ...              1797              1770
...                       ...           ...  ...               ...               ...
เพชรบุรี                11268         11268  ...             11122             10977
เพชรบูรณ์                1537          1537  ...              1521              1514
เลย                       853           853  ...               675               610
แพร่                      467           467  ...               439               428
แม่ฮ่องสอน                125           125  ...               123               111

[77 rows x 10 columns]

In [58]:
data_cases.groupby('province_of_isolation',sort=False).size()

province_of_isolation
กรุงเทพมหานคร      161884
นครปฐม              11070
นนทบุรี             29337
ประจวบคีรีขันธ์      4318
ภูเก็ต               1181
                    ...
อ่างทอง              2012
ระนอง                2132
ตราด                  907
น่าน                  635
บึงกาฬ                312
Length: 77, dtype: int64

In [59]:
dept =  data_cases.groupby(['province_of_isolation']).count()

In [60]:
dept

                          No.  ...  district_of_onset
province_of_isolation          ...
กระบี่                   1005  ...                738
กรุงเทพมหานคร          161884  ...             109118
กาญจนบุรี                2756  ...               2190
กาฬสินธุ์                2047  ...               1903
กำแพงเพชร                1800  ...               1770
...                       ...  ...                ...
เพชรบุรี                11268  ...              10977
เพชรบูรณ์                1537  ...               1514
เลย                       853  ...                610
แพร่                      467  ...                428
แม่ฮ่องสอน                125  ...                111

[77 rows x 10 columns]

## Loop

In [61]:
for i in range(10):
    print(data_cases.iloc[i,:])
    print('------------------new line---------------')

No.                                                     1
announce_date                                   12/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    61
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 0, dtype: object
------------------new line---------------
No.                                                     2
announce_date                                   17/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    74
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 1, dtype: object
------------------new line---------------
No.                                                     3
announce_date                                   22/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    73
Unit                                                   ปี
nationality                                      Thailand
province_of_isolation                              นครปฐม
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                  นครปฐม
district_of_onset                                   เมือง
Name: 2, dtype: object
------------------new line---------------
No.                                                     4
announce_date                                   22/1/2020
Notified date                                  99/99/9999
sex                                                   ชาย
age                                                    68
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 3, dtype: object
------------------new line---------------
No.                                                     5
announce_date                                   24/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    66
Unit                                                   ปี
nationality                                         China
province_of_isolation                             นนทบุรี
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 4, dtype: object
------------------new line---------------
No.                                                     6
announce_date                                   25/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    33
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 5, dtype: object
------------------new line---------------
No.                                                     7
announce_date                                   26/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    57
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 6, dtype: object
------------------new line---------------
No.                                                     8
announce_date                                   26/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    73
Unit                                                   ปี
nationality                                         China
province_of_isolation                     ประจวบคีรีขันธ์
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                         ประจวบคีรีขันธ์
district_of_onset                                  หัวหิน
Name: 7, dtype: object
------------------new line---------------
No.                                                     9
announce_date                                   28/1/2020
Notified date                                  99/99/9999
sex                                                   ชาย
age                                                    63
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 8, dtype: object
------------------new line---------------
No.                                                    10
announce_date                                   28/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    28
Unit                                                   ปี
nationality                                         China
province_of_isolation                             นนทบุรี
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                 นนทบุรี
district_of_onset                                     NaN
Name: 9, dtype: object
------------------new line---------------

In [62]:
for record in data_cases.iloc[:10,:].iterrows():
    print(record)
    print('------------------new line---------------')

(0, No.                                                     1
announce_date                                   12/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    61
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 0, dtype: object)
------------------new line---------------
(1, No.                                                     2
announce_date                                   17/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    74
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 1, dtype: object)
------------------new line---------------
(2, No.                                                     3
announce_date                                   22/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    73
Unit                                                   ปี
nationality                                      Thailand
province_of_isolation                              นครปฐม
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                  นครปฐม
district_of_onset                                   เมือง
Name: 2, dtype: object)
------------------new line---------------
(3, No.                                                     4
announce_date                                   22/1/2020
Notified date                                  99/99/9999
sex                                                   ชาย
age                                                    68
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 3, dtype: object)
------------------new line---------------
(4, No.                                                     5
announce_date                                   24/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    66
Unit                                                   ปี
nationality                                         China
province_of_isolation                             นนทบุรี
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 4, dtype: object)
------------------new line---------------
(5, No.                                                     6
announce_date                                   25/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    33
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 5, dtype: object)
------------------new line---------------
(6, No.                                                     7
announce_date                                   26/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    57
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 6, dtype: object)
------------------new line---------------
(7, No.                                                     8
announce_date                                   26/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    73
Unit                                                   ปี
nationality                                         China
province_of_isolation                     ประจวบคีรีขันธ์
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                         ประจวบคีรีขันธ์
district_of_onset                                  หัวหิน
Name: 7, dtype: object)
------------------new line---------------
(8, No.                                                     9
announce_date                                   28/1/2020
Notified date                                  99/99/9999
sex                                                   ชาย
age                                                    63
Unit                                                   ปี
nationality                                         China
province_of_isolation                       กรุงเทพมหานคร
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                           กรุงเทพมหานคร
district_of_onset                                     NaN
Name: 8, dtype: object)
------------------new line---------------
(9, No.                                                    10
announce_date                                   28/1/2020
Notified date                                  99/99/9999
sex                                                  หญิง
age                                                    28
Unit                                                   ปี
nationality                                         China
province_of_isolation                             นนทบุรี
risk                     คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                 นนทบุรี
district_of_onset                                     NaN
Name: 9, dtype: object)
------------------new line---------------

เราสามารถกำหนดค่าให้กับตารางทีละ column หรือสร้าง

column ใหม่ให้กับตาราง ได้โดยใช้ list ที่มีจำนวนเท่ากับจำนวน record

In [85]:
data_cases['new col'] = list(range(data_cases.shape[0]))

In [86]:
data_cases

           No. announce_date  ... district_of_onset new col
0            1     12/1/2020  ...               NaN       0
1            2     17/1/2020  ...               NaN       1
2            3     22/1/2020  ...             เมือง       2
3            4     22/1/2020  ...               NaN       3
4            5     24/1/2020  ...               NaN       4
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[512622 rows x 12 columns]

แก้ missing ใน province_of_isolation เติมค่าของ onset ใน isolation ก่อนจะเติมค่า mode

In [87]:
new_p_iso = list()

for row in data_cases.iterrows():
    if pd.isna(row[1]['province_of_isolation']):
        if pd.isna(row[1]['province_of_onset']) == False:
            new_p_iso.append(row[1]['province_of_onset'])
        else:
            new_p_iso.append(data_cases[['province_of_isolation']].dropna().mode().iloc[0,0])
    else:
        new_p_iso.append(row[1]['province_of_isolation'])

In [93]:
len(new_p_iso)

512622

In [94]:
data_cases['province_of_isolation'] = new_p_iso

In [95]:
data_cases

           No. announce_date  ... district_of_onset new col
0            1     12/1/2020  ...               NaN       0
1            2     17/1/2020  ...               NaN       1
2            3     22/1/2020  ...             เมือง       2
3            4     22/1/2020  ...               NaN       3
4            5     24/1/2020  ...               NaN       4
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[512622 rows x 12 columns]

In [70]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
new col                  False
dtype: bool

In [96]:
data_cases2 = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))

In [97]:
data_cases2[pd.isna(data_cases2['province_of_isolation'])]

         No. announce_date  ... province_of_onset district_of_onset
39        40     26/2/2020  ...     กรุงเทพมหานคร          ดอนเมือง
40        41     28/2/2020  ...           นนทบุรี               NaN
41        42     29/2/2020  ...     กรุงเทพมหานคร        วังทองหลาง
42        43      2/3/2020  ...     กรุงเทพมหานคร              สาทร
140      141     16/3/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...               NaN               NaN
40816  40817     18/4/2021  ...               NaN               NaN
40817  40818     18/4/2021  ...               NaN               NaN
40830  40831     18/4/2021  ...               NaN               NaN
40831  40832     18/4/2021  ...               NaN               NaN

[508 rows x 11 columns]

In [98]:
data_cases[pd.isna(data_cases2['province_of_isolation'])]

         No. announce_date  ... district_of_onset new col
39        40     26/2/2020  ...          ดอนเมือง      39
40        41     28/2/2020  ...               NaN      40
41        42     29/2/2020  ...        วังทองหลาง      41
42        43      2/3/2020  ...              สาทร      42
140      141     16/3/2020  ...               NaN     140
...      ...           ...  ...               ...     ...
40815  40816     18/4/2021  ...               NaN   40815
40816  40817     18/4/2021  ...               NaN   40816
40817  40818     18/4/2021  ...               NaN   40817
40830  40831     18/4/2021  ...               NaN   40830
40831  40832     18/4/2021  ...               NaN   40831

[508 rows x 12 columns]

# Handling Missing Value 4 แทนด้วยค่ากลางของกลุ่ม

In [71]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
new col                  False
dtype: bool

In [99]:
risk_list = list(set(data_cases['risk']))
print(risk_list)

['Cluster ปากช่อง', 'Cluster ทันฑสถานบำบัดพิเศษกลาง', 'ระหว่างการสอบสวนโรค', 'ผับหัวหิน', 'Cluster งานมอเตอร์ โชว์', 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า', 'เดินทางมาจากพื้นที่มีการระบาดของโรค', 'ร้านอาหาร', 'สถานบันเทิง', 'Cluster ตลาดบางแค', 'Cluster โรงงานทำขนม บางขุนเทียน', 'Cluster ทัณฑสถานโรงพยาบาลราชทัณฑ์', 'Cluster ตราด ', 'Cluster คลองเตย', 'อื่น', 'Cluster บ่อนเทพารักษ์', 'SHUI', '2.สัมผัสผู้ติดเชื้อ', 'อื่นๆ', 'ศูนย์กักกัน ผู้ต้องกัก', 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน', 'Cluster จันทบุรี', 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)', 'อยู่ระหว่างสอบสวน', 'Cluster ชลบุรี บริษัทไดกิ้น', 'Cluster เรือนจำพิเศษธนบุรี', 'Cluster ทัณฑสถานหญิงกลาง', "Cluster Memory 90's กรุงเทพมหานคร", 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ', 'Cluster ตลาดบางแค/คลองขวาง', 'สัมผัสผู้เดินทางจากต่างประเทศ', 'ทัณฑสถาน/เรือนจำ', 'Cluster สมุทรปราการ ตลาดเคหะบางพลี', 'Cluster เรือนจำพิเศษกรุงเทพ', 'Cluster บางแค', 'Cluster สมุทรปราการ GRP Hightech', 'Cluster บ่อนไก่อ่างทอง', 'ผู้ป่วย กรุงเทพมหานคร', 'ปอดอักเสบ (Pneumonia)', 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง', 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน', 'Cluster จนท. สนามบินสุวรรณภูมิ', 'ระหว่างสอบสวน', 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)', 'สนามมวย', 'สัมผัสผู้ติดเชื้อยืนยัน อยู่ระหว่างสอบสวน', 'Cluster สถานบันเทิงย่านทองหล่อ', 'Cluster ตลาดบางพลี', 'Cluster ตลาดพรพัฒน์', 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น', 'Cluster โรงงาน QPP ประจวบฯ', 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว', 'Cluster ชลบุรี', 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)', 'Cluster จันทบุรี (ชาวกินี )', 'ผู้ติดเชื้อในประเทศ', 'Cluster จันทบุรี (ชาวกินี)', 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า', 'สัมผัสผู้ป่วยยืนยัน \n อยู่ระหว่างสอบสวน', 'อยู่ระหว่างการสอบสวน\n', 'ระบุไม่ได้', 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร.', 'ACF สีลม', 'Cluster ตลาดสี่มุมเมือง', 'Cluster New Jazz กรุงเทพมหานคร', 'Cluster โรงงาน  Big Star', 'Cluster ระยอง วิริยะประกันภัย', 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้', 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน', 'สัมผัสผู้ป่วยที่ติดโควิด', 'ตรวจก่อนทำหัตถการ', 'คนไทยเดินทางมาจากต่างประเทศ', 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค', 'ตลาด', 'Cluster กรุงเทพมหานคร. คลองเตย', 'อยู่ระหว่างการสอบสวน', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ', 'ผู้ป่วย PUI', 'Cluster ตลาดนนทบุรี', 'Cluster เรือนจำพิเศษมีนบุรี', 'สัมผัสผู้ป่วยยืนยัน อยุ๋ระหว่างสอบสวน', 'ACF เคหะหลักสี่', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ', 'สัมผัสในสถานพยาบาล', 'สถานที่ทำงาน', 'Sandbox', 'Cluster เรือนจำกลางคลองเปรม', 'ACF สนามกีฬาธูปะเตมีย์', 'Cluster บริษัทศรีสวัสดิ์', 'Cluster ตราด', 'สัมผัสผู้ป่วยยืนยัน', 'Cluster โรงงาน Big Star', 'Cluster ผับ Thonglor', 'คนไทยเดินทางกลับจากต่างประเทศ', 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต', 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน', 'ACF สนามกีฬาไทย-ญี่ปุ่น', 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน', 'ปอดอักเสบ Pneumonia', 'พิธีกรรมทางศาสนา', 'Refer in', 'ค้นหาเชิงรุก', 'Cluster ห้างแสงทอง (สายล่าง)', 'Cluster โรงงาน standard can', 'Cluster บ่อนพัทยา/ชลบุรี', 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)', 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน', 'Cluster ชลบุรี โรงเบียร์ 90', 'Cluster ระยอง', 'ไปยังพื้นที่ที่มีการระบาด', 'คนไทยมาจากพื้นที่เสี่ยง', 'บุคลากรด้านการแพทย์และสาธารณสุข', 'รอประสาน', 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)', 'คนต่างชาติเดินทางมาจากต่างประเทศ', 'ACF รองเมือง', 'Cluster มหาสารคาม', 'State Quarantine', 'รับจ้างขนของที่ตลาดท่ายาง', 'Cluster The Lounge Salaya', 'Cluster สมุทรสาคร', 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน', 'อยู่ระหว่างสอบสวนโรค', 'อาศัย/เดินทางไปในพื้นที่ที่มีการระบาด', 'Cluster Icon siam', 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น', 'ตรวจสุขภาพแรงงานต่างด้าว', 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานครมหานคร', 'อยุ่ระหว่างสอบสวน', 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar']

ทำของขอนแก่น

In [100]:
dataKK = data_cases[data_cases['province_of_onset']=='ขอนแก่น']

In [101]:
dataKK[['risk']] = dataKK[['risk']].fillna(dataKK[['risk']].dropna().mode().iloc[0,0])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [102]:
dataKK

           No. announce_date  ... district_of_onset new col
181        182     18/3/2020  ...             เมือง     181
463        464     22/3/2020  ...             เมือง     463
1467      1468     30/3/2020  ...             เมือง    1467
1971      1972      3/4/2020  ...             เมือง    1971
2638      2639     15/4/2020  ...            น้ำพอง    2638
...        ...           ...  ...               ...     ...
507541  507542     26/7/2021  ...               NaN  507541
507542  507543     26/7/2021  ...               NaN  507542
507543  507544     26/7/2021  ...               NaN  507543
507544  507545     26/7/2021  ...               NaN  507544
507546  507547     26/7/2021  ...               NaN  507546

[3149 rows x 12 columns]

In [103]:
dataKK[['risk']].dropna().mode().iloc[0,0]

'ทัณฑสถาน/เรือนจำ'

In [104]:
dataKK.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset         True
new col                  False
dtype: bool

In [105]:
dataBK = data_cases[data_cases['province_of_isolation']=='กรุงเทพมหานคร']

In [106]:
dataBK[['risk']] = dataBK[['risk']].fillna(dataBK[['risk']].dropna().mode().iloc[0,0])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [107]:
dataBK

           No. announce_date  ... district_of_onset new col
0            1     12/1/2020  ...               NaN       0
1            2     17/1/2020  ...               NaN       1
3            4     22/1/2020  ...               NaN       3
5            6     25/1/2020  ...               NaN       5
6            7     26/1/2020  ...               NaN       6
...        ...           ...  ...               ...     ...
512608  512609     26/7/2021  ...               NaN  512608
512609  512610     26/7/2021  ...               NaN  512609
512610  512611     26/7/2021  ...               NaN  512610
512611  512612     26/7/2021  ...               NaN  512611
512612  512613     26/7/2021  ...               NaN  512612

[162266 rows x 12 columns]

In [108]:
dataBK[['risk']].dropna().mode().iloc[0,0]

'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน'

In [109]:

dataBK.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
new col                  False
dtype: bool

In [110]:
dataCN = data_cases[data_cases['province_of_onset']=='ชลบุรี']

In [111]:
dataCN[['risk']] = dataCN[['risk']].fillna(dataCN[['risk']].dropna().mode().iloc[0,0])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [112]:
dataCN

           No. announce_date  ... district_of_onset new col
31          32      8/2/2020  ...               NaN      31
43          44      5/3/2020  ...           ศรีราชา      43
44          45      5/3/2020  ...               NaN      44
154        155     17/3/2020  ...             เมือง     154
222        223     19/3/2020  ...               NaN     222
...        ...           ...  ...               ...     ...
507502  507503     26/7/2021  ...               NaN  507502
507627  507628     26/7/2021  ...           บ้านบึง  507627
507628  507629     26/7/2021  ...           บ้านบึง  507628
507629  507630     26/7/2021  ...           บ้านบึง  507629
508638  508639     26/7/2021  ...           ศรีราชา  508638

[22334 rows x 12 columns]

In [113]:
dataCN[['risk']].dropna().mode().iloc[0,0]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

## [PD] ต่อตาราง แกน Y

In [114]:
dataKKCN = pd.concat([dataKK,dataCN])
dataKKCN

           No. announce_date  ... district_of_onset new col
181        182     18/3/2020  ...             เมือง     181
463        464     22/3/2020  ...             เมือง     463
1467      1468     30/3/2020  ...             เมือง    1467
1971      1972      3/4/2020  ...             เมือง    1971
2638      2639     15/4/2020  ...            น้ำพอง    2638
...        ...           ...  ...               ...     ...
507502  507503     26/7/2021  ...               NaN  507502
507627  507628     26/7/2021  ...           บ้านบึง  507627
507628  507629     26/7/2021  ...           บ้านบึง  507628
507629  507630     26/7/2021  ...           บ้านบึง  507629
508638  508639     26/7/2021  ...           ศรีราชา  508638

[25483 rows x 12 columns]

In [115]:
X = list(set(data_cases['province_of_onset']))
X

[nan,
 'ประจวบคีรีขันธื',
 'อุบลราขธานี',
 'สมุทราปราการ',
 'สุมุทรปราการ',
 'พังงา',
 'นครประฐม',
 'ปทุมธานี',
 'สมุทปราการ',
 'ขอนแก่่น',
 'อุทัยธานี',
 'ร้อยเอ็ด',
 'สุทรปราการ',
 'ร้้อยเอ็ด',
 'ชลบุรี',
 'มุกดาหาร',
 'สมุุทสาคร',
 'นคปฐม',
 'เพชบุรี',
 'ยะลา',
 'อุดรธานี',
 'สระแก้ว',
 'ลอง',
 'ประจวบคีรีขันธ์',
 'เพชรบูรณ์',
 'พัทลุง',
 'เพรชบุรี',
 'เวียงจันทร์',
 'สมุุทรสาคร',
 'ชัยนาท',
 'ศรีษะเกษ',
 'เวียงสา',
 'พิจิตร',
 'ศีรสะเกษ',
 'ศรีีสะเกษ',
 'กระบี่',
 'นครศรี',
 'กรุงเทพมหานคร',
 'พระนครศรีอยุธยา',
 'กำแพงเพชร',
 'อยุธยา',
 'ตาก',
 'หนองบัวลำภู',
 'อุดรธานีี',
 'นคนปฐม',
 'ฉะเชิงเทรา',
 'เชียงราย',
 'สระบุุรี',
 'สตูล',
 'พะเยา',
 'สูงเม่น',
 'อุุดรธานี',
 'นครราชธสีมา',
 'เลย',
 'สิงห์บุรี',
 'สุมุทรสาคร',
 'พระนครศรียุธยา',
 'สมุทสงคราม',
 'หนองม่วงไข่',
 'สุมทรสาคร',
 'นครนาชสีมา',
 'ลพบุรี',
 'ปัตตานี\u200b',
 'สมุทรสาคร',
 'จันทบุรี',
 'กาฬสินธิ์',
 'เพรบุรี',
 'ปลายพระยา',
 'อุุดรธาน',
 'สอง',
 'ลำปาง',
 'ร้อยเอ้ด',
 'สมุทสาคร',
 'พระนครศีอยุธยา',
 'นนทบุรี',
 'ลพบุุรี',
 'นครพนม',
 'พระนครศรีอยุธนา',
 'กาญจนบุรี',
 'น่าน',
 'สกลนคร',
 'ระยอง',
 'หนองบััวลำภู',
 'เด่นชัย',
 'ยโสธร',
 'สมุทรปาการ',
 'เรือ',
 'ปทุุมธานี',
 'มหาสารคราม',
 'สมุทรสงคราม',
 'บางกะปิ',
 'พม่า',
 'เชียงใหม่',
 'สมุุทรปราการ',
 'นตรปฐม',
 'ศรีสะเกษ',
 'ปัตตานี',
 'นครราชสีมา',
 'ยานนาวา',
 'หนองบัวลำำภู',
 'ชััยภูมิ',
 'บึงกาฬ',
 'พระนครศรีอยุทธยา',
 'อุบลราชธานี',
 'ปราจีนบุรี',
 'กาฬสินธ์ุ',
 'ปทุมธานีี',
 'สงขขลา',
 'สุุราษฎร์ธานี',
 'สงขลา\u200b',
 'ร้อยเอ็็ด',
 'นครศรธรรมาช',
 'บุรีรัมย์',
 'ภูเพียง',
 'สงขลา',
 'นครศรีธรรมราช',
 'อ่างทอง',
 'นครศรีราชสีมา',
 'กาฬสินธุ์',
 'เพชรบุรี',
 'สถานที่ทำงาน',
 'ร้องกวาง',
 'สรแก้ว',
 'สุโขทัย',
 'สระบุรี',
 'อำนาจเจริญ',
 'อุุทัยธานี',
 'ูภูเก็ต',
 'นาวัง',
 'นราธิวาส',
 'เมือง',
 'นครสววรค์',
 'ชลบุุรี',
 'สมุทรปราการ',
 'ธารโต',
 'แพร่',
 'จ.ปัตตานี',
 'สุราษฎร์ธานี',
 'นาราธิวาส',
 'จังหวัดร้อยเอ็ด',
 'บึึงกาฬ',
 'นครนายก',
 'แม่ฮ่องสอน',
 'อุุตรดิตถ์',
 'ลำพูน',
 'สมทรสาคร',
 'ไม่ระบุ',
 'กาฬสิินธุ์',
 'ปทุมทานี',
 'พิษณุโลก',
 'หนองบัวลำภูู',
 'มาเลเซีย',
 'วังชิ้น',
 'นนทุบรี',
 'หนองคาย',
 'ระนอง',
 'พระนครศีรอยุธยา',
 'นครศรีีธรรมราช',
 'กัมพูชา',
 'ชุุมพร',
 'ชุมพร',
 'อุตรดิตถ์',
 'นครปฐม',
 'เมืองน่าน',
 'ลพบรี',
 'สุรินทร์',
 'สองแคว',
 'ชัยภูมิ',
 'ประจวบครีขันธ์',
 'ขอนแก่น',
 'พระนตรศรีอยุธยา',
 'สุพรรณบุรี',
 'ตรัง',
 'มหาสารคาม',
 'สมุทราสาคร',
 'นครศรีธรรรมราช',
 'นครสวรรค์',
 'สมุุทรสงคราม',
 'ราชบุรี',
 'ศีรษะเกษ',
 'ภูเก็ต',
 'บ้านหลวง',
 'ตราด',
 'บึงโขงหลง',
 'ปัว']

In [116]:
dataCN = data_cases[data_cases['province_of_onset']==X[0]]

In [117]:
dataCN

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset, new col]
Index: []

การวน Loop หาค่า Missing ของ  province_of_onset

In [118]:
prov_list = list()
for e_province in list(set(data_cases['province_of_onset']))[1:]:
    print(e_province)
    dataCN = data_cases[data_cases['province_of_onset']==e_province]
    dataCN[['risk']] = dataCN[['risk']].fillna(dataCN[['risk']].dropna().mode().iloc[0,0])
    prov_list.append(dataCN) ## 
dataALL = pd.concat(prov_list)

ประจวบคีรีขันธื
อุบลราขธานี
สมุทราปราการ
สุมุทรปราการ
พังงา
นครประฐม
ปทุมธานี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุทปราการ
ขอนแก่่น
อุทัยธานี
ร้อยเอ็ด
สุทรปราการ
ร้้อยเอ็ด
ชลบุรี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

มุกดาหาร
สมุุทสาคร
นคปฐม
เพชบุรี
ยะลา
อุดรธานี
สระแก้ว

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ลอง
ประจวบคีรีขันธ์
เพชรบูรณ์
พัทลุง
เพรชบุรี
เวียงจันทร์
สมุุทรสาคร

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ชัยนาท
ศรีษะเกษ
เวียงสา
พิจิตร
ศีรสะเกษ
ศรีีสะเกษ
กระบี่

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

นครศรี
กรุงเทพมหานคร
พระนครศรีอยุธยา
กำแพงเพชร
อยุธยา
ตาก

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

หนองบัวลำภู
อุดรธานีี
นคนปฐม
ฉะเชิงเทรา
เชียงราย
สระบุุรี
สตูล
พะเยา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สูงเม่น
อุุดรธานี
นครราชธสีมา
เลย
สิงห์บุรี
สุมุทรสาคร

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พระนครศรียุธยา
สมุทสงคราม
หนองม่วงไข่
สุมทรสาคร
นครนาชสีมา
ลพบุรี
ปัตตานี​

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุทรสาคร
จันทบุรี
กาฬสินธิ์
เพรบุรี
ปลายพระยา
อุุดรธาน
สอง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ลำปาง
ร้อยเอ้ด
สมุทสาคร
พระนครศีอยุธยา
นนทบุรี
ลพบุุรี
นครพนม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พระนครศรีอยุธนา
กาญจนบุรี
น่าน
สกลนคร
ระยอง
หนองบััวลำภู
เด่นชัย

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ยโสธร
สมุทรปาการ
เรือ
ปทุุมธานี
มหาสารคราม
สมุทรสงคราม
บางกะปิ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พม่า
เชียงใหม่
สมุุทรปราการ
นตรปฐม
ศรีสะเกษ
ปัตตานี
นครราชสีมา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ยานนาวา
หนองบัวลำำภู
ชััยภูมิ
บึงกาฬ
พระนครศรีอยุทธยา
อุบลราชธานี
ปราจีนบุรี
กาฬสินธ์ุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ปทุมธานีี
สงขขลา
สุุราษฎร์ธานี
สงขลา​
ร้อยเอ็็ด
นครศรธรรมาช
บุรีรัมย์

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ภูเพียง
สงขลา
นครศรีธรรมราช
อ่างทอง
นครศรีราชสีมา
กาฬสินธุ์

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

เพชรบุรี
สถานที่ทำงาน
ร้องกวาง
สรแก้ว
สุโขทัย
สระบุรี
อำนาจเจริญ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

อุุทัยธานี
ูภูเก็ต
นาวัง
นราธิวาส
เมือง
นครสววรค์
ชลบุุรี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุทรปราการ
ธารโต
แพร่
จ.ปัตตานี
สุราษฎร์ธานี
นาราธิวาส
จังหวัดร้อยเอ็ด

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

บึึงกาฬ
นครนายก
แม่ฮ่องสอน
อุุตรดิตถ์
ลำพูน
สมทรสาคร
ไม่ระบุ
กาฬสิินธุ์

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ปทุมทานี
พิษณุโลก
หนองบัวลำภูู
มาเลเซีย
วังชิ้น
นนทุบรี
หนองคาย
ระนอง
พระนครศีรอยุธยา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

นครศรีีธรรมราช
กัมพูชา
ชุุมพร
ชุมพร
อุตรดิตถ์
นครปฐม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

เมืองน่าน
ลพบรี
สุรินทร์
สองแคว
ชัยภูมิ
ประจวบครีขันธ์
ขอนแก่น

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พระนตรศรีอยุธยา
สุพรรณบุรี
ตรัง
มหาสารคาม
สมุทราสาคร
นครศรีธรรรมราช
นครสวรรค์

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุุทรสงคราม
ราชบุรี
ศีรษะเกษ
ภูเก็ต
บ้านหลวง
ตราด
บึงโขงหลง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ปัว

In [119]:
dataALL

           No. announce_date  ... district_of_onset new col
296789  296790      7/7/2021  ...          ปราณบุรี  296789
406997  406998     19/7/2021  ...       ตระการพืชผล  406997
486528  486529     25/7/2021  ...            บางพลี  486528
349420  349421     13/7/2021  ...          บางเสาธง  349420
2432      2433     10/4/2020  ...           เกาะยาว    2432
...        ...           ...  ...               ...     ...
503826  503827     26/7/2021  ...         เมืองตราด  503826
503827  503828     26/7/2021  ...            บ่อไร่  503827
359092  359093     14/7/2021  ...         บึงโขงหลง  359092
391995  391996     18/7/2021  ...           ป่ากลาง  391995
391996  391997     18/7/2021  ...           ป่ากลาง  391996

[447605 rows x 12 columns]

In [120]:
datamissingonset = data_cases[pd.isna(data_cases['province_of_onset'])]
datamissingonset

           No. announce_date  ... district_of_onset new col
415        416     22/3/2020  ...               NaN     415
530        531     22/3/2020  ...               NaN     530
556        557     22/3/2020  ...               NaN     556
577        578     22/3/2020  ...               NaN     577
589        590     22/3/2020  ...               NaN     589
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[65017 rows x 12 columns]

In [121]:
datamissingonset[['risk']] = datamissingonset[['risk']].fillna(datamissingonset[['risk']].dropna().mode().iloc[0,0])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [122]:
dataALL = pd.concat([dataALL,datamissingonset])

In [123]:
dataALL

           No. announce_date  ... district_of_onset new col
296789  296790      7/7/2021  ...          ปราณบุรี  296789
406997  406998     19/7/2021  ...       ตระการพืชผล  406997
486528  486529     25/7/2021  ...            บางพลี  486528
349420  349421     13/7/2021  ...          บางเสาธง  349420
2432      2433     10/4/2020  ...           เกาะยาว    2432
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[512622 rows x 12 columns]

In [128]:
data_cases

           No. announce_date  ... district_of_onset new col
0            1     12/1/2020  ...               NaN       0
1            2     17/1/2020  ...               NaN       1
2            3     22/1/2020  ...             เมือง       2
3            4     22/1/2020  ...               NaN       3
4            5     24/1/2020  ...               NaN       4
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[512622 rows x 12 columns]

In [125]:
dataALL.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
new col                  False
dtype: bool

In [126]:
dataALL = dataALL.sort_values(by='No.')
dataALL

           No. announce_date  ... district_of_onset new col
0            1     12/1/2020  ...               NaN       0
1            2     17/1/2020  ...               NaN       1
2            3     22/1/2020  ...             เมือง       2
3            4     22/1/2020  ...               NaN       3
4            5     24/1/2020  ...               NaN       4
...        ...           ...  ...               ...     ...
512617  512618     26/7/2021  ...               NaN  512617
512618  512619     26/7/2021  ...               NaN  512618
512619  512620     26/7/2021  ...               NaN  512619
512620  512621     26/7/2021  ...               NaN  512620
512621  512622     26/7/2021  ...               NaN  512621

[512622 rows x 12 columns]

In [127]:
dataALL.keys()

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset', 'new col'],
      dtype='object')

การทำงานกับ Datetime-Timestamp