<a href="https://colab.research.google.com/github/Anusarakh/DPDM2021/blob/main/Data_Preprocessing(Chapter3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd # ทำงาน

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/DPDM2021_DATA'
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv'))
data

                    Date  positive  ...  Unnamed: 120  Unnamed: 121
0    Cannot specify date      2963  ...           NaN           NaN
1               1/1/2020         0  ...            31           NaN
2               2/1/2020         0  ...           Pos           Pos
3               3/1/2020         0  ...           NaN           NaN
4               4/1/2020         0  ...           NaN           NaN
..                   ...       ...  ...           ...           ...
567            20/7/2021     68403  ...           NaN           NaN
568            21/7/2021     82325  ...           NaN           NaN
569            22/7/2021     62846  ...           NaN           NaN
570            23/7/2021     58851  ...           NaN           NaN
571            24/7/2021     67283  ...           NaN           NaN

[572 rows x 122 columns]

In [5]:
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) 
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [6]:
data_cases[['risk','age']] # ชี้โดยใช้หัวตารางหรือชื่อแถว

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [7]:
data_cases['risk'][666] # เป็นการชี้ข้อมูลของลิส คนที่ 666

'สนามมวย'

# ชี้ข้อมูลโดยใช้ .iloc [] (แปลงมุมมองให้เป็น matrix)

In [8]:
data_cases.iloc[4,4]  # ชี้ข้อมูลโดยการเลือกแถวและหลัก [แถว,หลัก]  ข้อดีสามารถจัดตารางข้อมูลที่เราต้องการได้

66.0

In [9]:
data_cases.iloc[-50:,[3,6,8]]

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistical of Data

สถิติพื้นฐาน

In [10]:
data_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing Value

* Noll

* NaN = Nor a Number 

* NA = Not a Valiable

หากมีข้อความดังกล่าวคือไม่มีข้อมูลหรือไม่แสดงค่า

In [11]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [12]:
data_cases.isnull() #  .isnull เป็นคำสั่งที่ใช้ดู missing  ค่าที่เป็นนMissing จะแสดง True ส่วนค่าไหนที่แสดง False แสดงว่าค่านั้นไม่ใช่ missing

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
512617  False          False  ...               True               True
512618  False          False  ...               True               True
512619  False          False  ...               True               True
512620  False          False  ...               True               True
512621  False          False  ...               True               True

[512622 rows x 11 columns]

In [13]:
data_cases.isnull().any()  # .any คือ สรุปในด้าน columns หรือ  or ในแนว columns  ใช้ควบคู่กับ .isnull

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [14]:
data_cases.isnull().any() .any() # สามารถเขียน .any ซ้อน .any ได้

True

# Handling Missing Value 1 (ลบค่าmissing ออก)

In [15]:
data_cases.shape

(512622, 11)

In [16]:
data_cases_M1 = data_cases.dropna()  # คึำสั่ง .dropna คือคำสั่งที่ลบ missing

In [17]:
data_cases_M1.shape  # M1 คือ

(362205, 11)

size before drop = 1000

size after drop = 10

we lost 99% of data

In [18]:
print('size before drop = ',len(data_cases))
print('size before drop = ',len(data_cases_M1))

size before drop =  512622
size before drop =  362205

In [19]:
print('we lost = ',((len(data_cases)-len(data_cases_M1))/len(data_cases))*100,'% of data')

we lost =  29.342673548930794 % of data

In [20]:
((len(data_cases)-len(data_cases_M1))/len(data_cases))*100

29.342673548930794

In [21]:
print(f'size before drop = {len(data_cases)}')
print('size before drop = ',len(data_cases_M1))
print(f'we lost = {((len(data_cases)-len(data_cases_M1))/len(data_cases))*100:.2f}% of data')

size before drop = 512622
size before drop =  362205
we lost = 29.34% of data

# Handling Missing Value 1.5 (ลบค่า missing เฉพาะใน column ที่เราสนใจ)

In [22]:
data_cases_M15 = data_cases.dropna(subset=['Notified date', 'sex','age'])
data_cases_M15.shape

(449552, 11)

HW 11

print ของ missing 1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handing_missing1

In [23]:
print(f'size before drop = {len(data_cases)}')
print(f'size after drop = {len(data_cases_M15)}')
print(f'we lost = {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data')
print(f'now we have  {((len(data_cases_M15)-len(data_cases_M1))/len(data_cases))*100:.2f} % more data than handing_missing1')

size before drop = 512622
size after drop = 449552
we lost = 12.30% of data
now we have  17.04 % more data than handing_missing1

In [24]:
print(f'we lost = {((len(data_cases)-len(data_cases_M15))/len(data_cases))*100:.2f}% of data') # ค่า % หลัง .doopna M15

we lost = 12.30% of data

In [25]:
print(f'now we have = {(((len(data_cases)-len(data_cases_M15))/len(data_cases))*100)-(((len(data_cases)-len(data_cases_M1))/len(data_cases))*100):.2F} % more data than handing_missing1') # นำ % ที่หาได้จากของ M15 - M1

now we have = -17.04 % more data than handing_missing1

In [26]:
print(f'now we have = {(((len(data_cases)-len(data_cases_M1))/len(data_cases))*100)-(((len(data_cases)-len(data_cases_M15))/len(data_cases))*100):.2F} % more data than handing_missing1') # นำ % ที่หาได้จากของ M1 - M15

now we have = 17.04 % more data than handing_missing1

In [27]:
print(f'now we have  {((len(data_cases_M15)-len(data_cases_M1))/len(data_cases_M15))*100:.2f} % more data than handing_missing1') # นำ data M15 - data M1 /data_M15

now we have  19.43 % more data than handing_missing1

Handling Mising Value 2  แทนค่าที่เหมาะสมหรือสร้าง class ใหม่

In [28]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [29]:
data_cases['age'].mean(skipna=False)  ## ถ้า function

nan

In [30]:
data_cases[['Notified date']] = data_cases[['Notified date']].fillna('99/99/9999')

In [31]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [32]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

ดู column unit

In [33]:
set(data_cases['Unit'])  # คำสั่ง set  หาค่า unique values

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

## [PD] วิธีเลือก  record  โดยกำหนดค่า

In [34]:
data_cases[data_cases['Unit']=='วัน']

           No. announce_date  ... province_of_onset district_of_onset
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
23791    23792     10/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
40962    40963     18/4/2021  ...        นครราชสีมา           เสิงสาง
57747    57748     27/4/2021  ...               NaN               NaN
72457    72458      4/5/2021  ...     กรุงเทพมหานคร            สายไหม
...        ...           ...  ...               ...               ...
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
474582  474583     24/7/2021  ...        ฉะเชิงเทรา           บางปะกง
477365  477366     24/7/2021  ...      สุราษฎร์ธานี            พุนพิน
488901  488902     25/7/2021  ...            ชลบุรี          บางละมุง
504780  504781     26/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์

[64 rows x 11 columns]

In [35]:
data_cases[data_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

 python

  data_frame[list_of_logic]   ## list_of_logic มีขนาดเท่ากับจำนวน record ของ data_frame

In [36]:
data_cases['Unit']=='วัน'  ## list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [37]:
data_cases[data_cases['Unit']=='วัน'].sort_values(by = 'age')

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

Quiz 10 หา records ต่อไปนี้

records ที่ กักตัวที่ขอนแก่น

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [39]:
data_cases[data_cases['province_of_isolation']=='ขอนแก่น']

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
463        464     22/3/2020  ...           ขอนแก่น             เมือง
1467      1468     30/3/2020  ...           ขอนแก่น             เมือง
1971      1972      3/4/2020  ...           ขอนแก่น             เมือง
2638      2639     15/4/2020  ...           ขอนแก่น            น้ำพอง
...        ...           ...  ...               ...               ...
505598  505599     26/7/2021  ...           ขอนแก่น           ภูเวียง
505599  505600     26/7/2021  ...           ขอนแก่น           ภูเวียง
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[3707 rows x 11 columns]

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

In [43]:
data_cases[(data_cases['province_of_isolation']== 'ขอนแก่น')|(data_cases['province_of_isolation']== 'นครราชสีมา')|(data_cases['province_of_isolation']== 'อุดรธานี')] # | 'หรือ' ต้องใส่ () ด้วย data_cases[  (data_cases['...'])  |  (data_cases['...'])  ]

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
189        190     18/3/2020  ...        นครราชสีมา             พิมาย
207        208     18/3/2020  ...     กรุงเทพมหานคร               NaN
212        213     18/3/2020  ...        นครราชสีมา       วังน้ำเขียว
284        285     20/3/2020  ...        นครราชสีมา   เมืองนครราชสีมา
...        ...           ...  ...               ...               ...
507218  507219     26/7/2021  ...               NaN               NaN
507219  507220     26/7/2021  ...               NaN               NaN
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[10539 rows x 11 columns]

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

In [46]:
data_cases[(data_cases['province_of_onset']=='กรุงเทพมหานคร') & (data_cases['sex']== 'หญิง')]

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
511560  511561     26/7/2021  ...     กรุงเทพมหานคร            ธนบุรี
511562  511563     26/7/2021  ...     กรุงเทพมหานคร         คลองสามวา
511566  511567     26/7/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
511574  511575     26/7/2021  ...     กรุงเทพมหานคร         ลาดกระบัง
511577  511578     26/7/2021  ...     กรุงเทพมหานคร            บางบอน

[58896 rows x 11 columns]

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [53]:
data_cases[(data_cases['sex']=='ชาย') & (data_cases['province_of_isolation']== 'เชียงใหม่')]

           No. announce_date  ... province_of_onset district_of_onset
16          17     31/1/2020  ...         เชียงใหม่             หางดง
91          92     15/3/2020  ...         เชียงใหม่            แม่ริม
185        186     18/3/2020  ...         เชียงใหม่          นครพิงค์
192        193     18/3/2020  ...         เชียงใหม่               NaN
252        253     19/3/2020  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
497330  497331     26/7/2021  ...         เชียงใหม่               NaN
497340  497341     26/7/2021  ...         เชียงใหม่    เมืองเชียงใหม่
497341  497342     26/7/2021  ...         เชียงใหม่          สันกำแพง
497342  497343     26/7/2021  ...         เชียงใหม่               NaN
497344  497345     26/7/2021  ...         เชียงใหม่            แม่ริม

[2388 rows x 11 columns]

In [56]:
 data_cases[(data_cases['sex']=='ชาย') & (data_cases['province_of_isolation']== 'เชียงใหม่') &
            (data_cases['age']>=18) &
           (data_cases['age']<=22)]

           No. announce_date  ... province_of_onset district_of_onset
1407      1408     30/3/2020  ...         เชียงใหม่             เมือง
30340    30341      9/4/2021  ...         เชียงใหม่    เมืองเชียงใหม่
31499    31500     10/4/2021  ...         เชียงใหม่               NaN
31500    31501     10/4/2021  ...         เชียงใหม่               NaN
31501    31502     10/4/2021  ...         เชียงใหม่               NaN
...        ...           ...  ...               ...               ...
481940  481941     25/7/2021  ...         เชียงใหม่             หางดง
481953  481954     25/7/2021  ...         เชียงใหม่             หางดง
481961  481962     25/7/2021  ...         เชียงใหม่          เชียงดาว
497281  497282     26/7/2021  ...         เชียงใหม่          เชียงดาว
497302  497303     26/7/2021  ...         เชียงใหม่             หางดง

[411 rows x 11 columns]

In [60]:
set(data_cases['Unit'])

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

In [61]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf

In [62]:

import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [65]:
plt.hist(data_cases['Unit'].dropna());

NameError: ignored

In [66]:
data_cases[['Unit']]=data_cases[['Unit']].fillna(' ปี ')

In [67]:
data_cases[['nationality']] = data_cases[['nationality']].fillna('ไทย?')

In [68]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

Handling Mising Value 3 แทนค่าด้วยค่ากลาง   mean mod medaen

In [69]:
data_cases[['age']] = data_cases[['age']].fillna(data_cases['age'].mean())  ## การแทน missing ด้วย mean

In [70]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [71]:
data_cases[['sex']].dropna().mode().iloc[0,0]

'ชาย'

In [72]:

data_cases[['sex']] = data_cases[['sex']].fillna(data_cases[['sex']].dropna().mode().iloc[0,0])
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [73]:
data_cases[['risk']].dropna().mode().iloc[0,0]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [74]:
data_cases[['risk']] = data_cases[['risk']].fillna(data_cases[['risk']].dropna().mode().iloc[0,0])
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation     True
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

การจัดการข้อมูลที่ซ้ำกัน ใน province_of_isolation

In [80]:
data_cases.groupby(['province_of_isolation']).agg(['count'])

                          No. announce_date  ... province_of_onset district_of_onset
                        count         count  ...             count             count
province_of_isolation                        ...
กระบี่                   1005          1005  ...               860               738
กรุงเทพมหานคร          161884        161884  ...            127665            109118
กาญจนบุรี                2756          2756  ...              2271              2190
กาฬสินธุ์                2047          2047  ...              1936              1903
กำแพงเพชร                1800          1800  ...              1797              1770
...                       ...           ...  ...               ...               ...
เพชรบุรี                11268         11268  ...             11122             10977
เพชรบูรณ์                1537          1537  ...              1521              1514
เลย                       853           853  ...               675               610
แพร่                      467           467  ...               439               428
แม่ฮ่องสอน                125           125  ...               123               111

[77 rows x 10 columns]

In [76]:
data_cases.groupby('province_of_isolation',sort=False).size()

province_of_isolation
กรุงเทพมหานคร      161884
นครปฐม              11070
นนทบุรี             29337
ประจวบคีรีขันธ์      4318
ภูเก็ต               1181
                    ...
อ่างทอง              2012
ระนอง                2132
ตราด                  907
น่าน                  635
บึงกาฬ                312
Length: 77, dtype: int64

In [81]:
dept =  data_cases.groupby(['province_of_isolation']).count()

In [82]:
dept

                          No.  ...  district_of_onset
province_of_isolation          ...
กระบี่                   1005  ...                738
กรุงเทพมหานคร          161884  ...             109118
กาญจนบุรี                2756  ...               2190
กาฬสินธุ์                2047  ...               1903
กำแพงเพชร                1800  ...               1770
...                       ...  ...                ...
เพชรบุรี                11268  ...              10977
เพชรบูรณ์                1537  ...               1514
เลย                       853  ...                610
แพร่                      467  ...                428
แม่ฮ่องสอน                125  ...                111

[77 rows x 10 columns]