<a href="https://colab.research.google.com/github/Anusarakh/DPDM2021/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [79]:
import os

In [80]:
path = '/content/drive/My Drive/Thesis' # เรียกข้อมูลจาก Drive

In [81]:
emaildata = pd.read_csv(os.path.join(path,'emaildata.csv'))

In [82]:
emaildata2 = pd.read_csv(os.path.join(path,'emaildata2.csv'))

In [12]:
emaildata

,able,answer,bar,best,can,struggling,talk,time,want,weeks,analysis,anything,build,business,timsend,trust,try,trying,tarket
0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,ham
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,ham
2,0,0,0,2,0,1,1,1,1,1,0,0,0,0,0,0,0,0,ham
3,0,0,0,0,2,0,0,0,0,0,3,1,1,1,0,0,0,0,spam
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,spam
5,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,1,1,spam

In [14]:
from sklearn.naive_bayes import GaussianNB

In [51]:
x = emaildata[['able','answer','bar','best','can','struggling','talk','time','want','weeks','analysis','anything','build','business','timsend','trust','try','trying']]
y = emaildata[['tarket']]

In [20]:
x

,able,answer,bar,best,can,struggling,talk,time,want,weeks,analysis,anything,build,business,timsend,trust,try,trying
0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,2,0,1,1,1,1,1,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,3,1,1,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,1,1

In [22]:
y

  tarket
0    ham
1    ham
2    ham
3   spam
4   spam
5   spam

In [52]:
from sklearn.model_selection import train_test_split

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [69]:
model = GaussianNB()

In [70]:
emailtrain = model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [71]:
emailtrain

GaussianNB()

In [72]:
model.score(x_test, y_test)

1.0

#สร้างข้อมูลใหม่

In [114]:
from sklearn.metrics import classification_report

In [115]:
x2 = emaildata2[['able','answer','bar','best','can','struggling','talk','time','want','weeks','analysis','anything','build','business','timsend','trust','try','trying']]
y2 = emaildata2[['tarket']]

In [122]:
x2

,able,answer,bar,best,can,struggling,talk,time,want,weeks,analysis,anything,build,business,timsend,trust,try,trying
0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,2,0,1,1,1,1,1,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,3,1,1,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,1,0,2,1,0,1,1,1,1
6,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,3,0,0
7,0,0,0,1,0,0,0,0,0,0,2,0,0,0,0,2,0,0
8,2,0,3,2,0,1,1,1,1,1,0,0,0,0,0,0,0,0
9,0,0,0,0,2,0,0,0,0,0,3,1,1,1,0,0,0,0
10,0,0,0,0,3,0,0,0,0,0,0,2,0,0,0,0,0,0
11,0,0,0,0,1,2,0,0,0,1,1,0,3,0,1,1,1,1
12,1,3,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,1,0,1,0,0,1,0,2,0,0,0,0,0,0,3,0,0
14,3,0,0,2,0,1,1,1,1,1,0,0,0,0,0,0,0,0
15,0,1,1,0,2,0,0,0,0,0,3,1,1,1,0,0,0,0
16,3,0,0,0,0,0,2,0,0,0,2,0,0,0,0,0,0,0
17,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,1,1

In [116]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.4, random_state=0)

In [117]:
model2 = GaussianNB()
emailtrain2 = model2.fit(x2_train, y2_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [118]:
y2_pred = model2.predict(x2_test)

In [119]:
print('Accuracy Score: {:4f}'.format(accuracy_score(y2_test, y2_pred)))

Accuracy Score: 0.875000

In [121]:
print(classification_report(y2_test, y2_pred))

              precision    recall  f1-score   support

         ham       0.83      1.00      0.91         5
        spam       1.00      0.67      0.80         3

    accuracy                           0.88         8
   macro avg       0.92      0.83      0.85         8
weighted avg       0.90      0.88      0.87         8

In [106]:
print(y_pred)

['ham' 'ham' 'ham' 'spam' 'ham' 'spam' 'ham' 'ham']

In [98]:
model2.score(x2_test, y2_test)

0.875